.container {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  
.right {
  flex: 2; /* Takes 20% of the width */
  background-color: lightgray; /* Example color */
  padding: 20px; /* Example padding */
}

.left {
  flex: 2; /* Takes 20% of the width */
  background-color: lightgray; /* Example color */
  padding: 20px; /* Example padding */
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.middle {
  flex: 6; /* Takes 75% of the width */
  background-color: white; /* Example color */
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
}

.resumeImage {
  max-width: 100%;
}