.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 60% 20%;
    min-height:100%;
  }
  
.right {
  /* flex: 2; Takes 20% of the width */
  background-color: lightgray; /* Example color */
  padding: 20px; /* Example padding */
}

.left {
  /* flex: 2; Takes 20% of the width */
  background-color: lightgray; /* Example color */
  padding: 20px; /* Example padding */
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.middle {
  flex: 6; /* Takes 75% of the width */
  background-color: white; /* Example color */
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html, body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  display: grid;
}

.resumeImage {
  max-width: 100%;
}